main .adventure-details > div{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

main .adventure-details .side-bar {
  display: flex;
  justify-content: space-between;
}

main .adventure-details .side-bar dl {
  margin-bottom: 1.25em;
  margin-left: .6em;
}

main .adventure-details .side-bar dt {
  color: var(--link-hover-color);
  font-size: x-small;
  text-transform: capitalize;
  line-height: 6px;
  padding-bottom: 2px;
}

main .adventure-details .side-bar dd {
  font-size:medium;
  margin-left: auto;
}

main .adventure-details .side-bar dt,
main .adventure-details .side-bar dd {
  border-left: .8px solid #8d8d8d;
  padding-left: 5px;
}

@media (min-width: 1024px) {
  main .adventure-details .side-bar {
    min-width: 180px;
    margin-top: 25px;
  }
  
  main .adventure-details > div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: unset;
    height: 400px;
  }

  main .adventure-details .side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}