.wide-cards-container {
  max-width: var(--large-grid-layout);
  padding: 0 15px;
  margin: 0 auto;
}

.wide-cards {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.wide-cards .wide-card {
  display: flex;
  align-items: stretch;
  height: 290px;
}

@media (width <= 768px) {
  .wide-cards .wide-card {
    height: 100%;
  }
}

.wide-cards .wide-card .card-image {
  width: 70%;
  align-self: stretch;
  flex: 1;
  box-sizing: border-box;
}

@media (width <= 768px) {
  .wide-cards .wide-card .card-image {
    width: 30%;
  }
}

.wide-cards .wide-card .card-info {
  width: 30%;
  background-color: var(--color-brand-theme-2);
  box-sizing: border-box;
  padding: 3.5rem 3rem;
}

@media (width <= 768px) {
  .wide-cards .wide-card .card-info {
    width: 70%;
  }
}

.wide-cards .wide-card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wide-cards .wide-card .card-info h1,
.wide-cards .wide-card .card-info h2,
.wide-cards .wide-card .card-info h3,
.wide-cards .wide-card .card-info h4,
.wide-cards .wide-card .card-info h5,
.wide-cards .wide-card .card-info h6 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
  line-height: normal;
  margin: 0;
}

.wide-cards .wide-card .card-info p {
  margin: 1rem 0;
}

@media (width <= 1024px) {
  .wide-cards .wide-card .card-info p {
    font-size: var(--body-font-size-s);
  }
}

.wide-cards .card-info p.button-container {
  margin-top: 4rem;
}

.wide-cards .card-info .custom-link {
  text-decoration: none;
}

.wide-cards .card-info .custom-link::after {
  content: ">";
  padding-left: 15px;
  font-size: var(--body-font-size-s);
  transition: padding-left 0.3s;
}

.wide-cards .card-info .custom-link:hover::after {
  padding-left: 20px;
}