/* stylelint-disable */
.elsie-base-design .elsie-price-summary {
  background-color: var(--color-neutral-50);
}

.elsie-base-design .elsie-price-summary__heading {
  margin-bottom: 1rem;
}
.elsie-base-design .cart-cart__heading-text::after,
.elsie-base-design .elsie-price-summary__heading::after {
  border-bottom: 2px solid var(--color-brand-theme-1);
  content: "";
  display: block;
  padding-top: 8px;
  min-width: 90px;
  width: fit-content;
}

.elsie-base-design .elsie-button--primary:focus,
.elsie-base-design .elsie-button--primary:focus:hover,
.elsie-base-design .elsie-button--secondary:focus,
.elsie-base-design .elsie-button--secondary:focus:hover {
  background-color: var(--color-brand-theme-1);
}

.elsie-base-design .elsie-price-summary hr[role="separator"],
.elsie-base-design .cart-cart__wrapper hr {
  display: none;
}

.elsie-base-design .elsie-cart-item__remove {
  padding: 0;
  min-width: unset;
  min-height: unset;
  width: unset;
  height: unset;
}

.elsie-base-design .elsie-cart-item__quantity__incrementer {
  max-width: 130px;
  width: fit-content;
}

.elsie-base-design .elsie-incrementer__input {
  min-width: 24px;
}