.header-topnav {
  height: 40px;
  width: 100%;
  background: var(--color-black-100);
  color: var(--color-neutral-50);
  z-index: 20;
  position: fixed;
  top: 0;
}

.header-topnav .top-nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 1rem;
  height: 100%;
}

.header-topnav .wrapper {
  padding: 3px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header-topnav .wrapper.account-wrapper img {
  height: 16px;
  width: 16px;
}

.header-topnav .wrapper.language-wrapper img {
  height: 100%;
  width: 26.55px;
}

.header-topnav .wrapper span {
  text-transform: uppercase;
  font-size: var(--body-font-size-xxs);
}