/* Base Styles */
footer {
  padding: 2rem;
  background-color: var(--color-black-100);
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  color: var(--color-neutral-50);
}

footer .footer {
  max-width: 1300px;
  margin: auto;
  height: auto;
  padding: 4rem 0;
}

footer .footer p {
  margin: 0;
  font-size: var(--body-font-size-xxs);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.8px;
  max-width: 525px;
}

footer a {
  color: var(--color-neutral-50) !important;
}

footer .wrapper {
  display: flex;
  align-items: flex-start;
}

footer .wrapper .section.brand-logo {
  flex: 1;
}

footer .wrapper .section.brand-logo img {
  width: 42px;
  height: auto;
}

footer .wrapper .section.site-links {
  display: flex;
  flex: 9;
  width: 100%;
}

footer .wrapper .section.site-links .default-content-wrapper {
  margin: 0 0 auto;
}

footer .wrapper .section.site-links .default-content-wrapper ol,
footer .wrapper .section.social-media .default-content-wrapper ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

footer .wrapper .section.site-links .default-content-wrapper ol li a {
  font-size: var(--body-font-size-s);
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.96px;
  padding: 1em 1.3em;
}

footer .wrapper .section.site-links .default-content-wrapper ol li:first-of-type a {
  padding-left: 0;
}

footer .wrapper .section.social-media {
  margin-left: 2em;
  flex: 2;
}

footer .wrapper .section.social-media .default-content-wrapper ol {
  background: transparent;
  gap: 1rem;
  justify-content: flex-end;
}

footer .wrapper .section.social-media img {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
}

/* Media Queries */
@media (max-width: 900px) {
  footer {
    padding: 4rem 7rem;
  }

  footer .footer {
    padding: 1rem 0;
  }

  footer .footer p {
    max-width: 100%;
  }

  footer .wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }

  footer .wrapper .section.brand-logo {
    flex: unset;
  }

  footer .wrapper .section.site-links {
    flex: unset;
  }

  footer .wrapper .section.site-links .default-content-wrapper {
    margin: 0;
  }

  footer .wrapper .section.site-links .default-content-wrapper ol {
    display: none;
  }

  footer .wrapper .section.social-media {
    flex: unset;
    margin-left: auto;
    margin-top: 2rem;
  }

  footer .wrapper .section.social-media img {
    padding: 0.5em 0.5em 0.2em;
  }
}