
/* stylelint-disable */
.adventure-pdp main {
  max-width: var(--large-grid-layout);
  margin: 105px auto 0;
}

@media (width < 768px) {
  .adventure-pdp main {
    margin-top: 40px;
  } 
}

.dropin-design .pdp-product h1:not(.pdp-product__title)::after,
.dropin-design .pdp-product h2:not(.pdp-product__title)::after,
.dropin-design .pdp-product h3:not(.pdp-product__title)::after,
.dropin-design .pdp-product h4:not(.pdp-product__title)::after,
.dropin-design .pdp-product h5:not(.pdp-product__title)::after,
.dropin-design .pdp-product h6:not(.pdp-product__title)::after,
.dropin-design .custom-title::after {
  border-bottom: 2px solid var(--color-brand-600);
  content: "";
  display: block;
  padding-top: 8px;
  min-width: 84px;
  width: fit-content;
}

.dropin-design .pdp-product__title div:not(.custom-title) {
  font-size: var(--body-font-size-lg);
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: normal;
  margin-top: 2rem;
}

.dropin-design .pdp-product__prices,
.dropin-design .pdp-product__sku {
  margin-top: 2rem;
}

.dropin-design .pdp-product__quantity {
  grid-column: 1 / span 2;
}

.dropin-design .dropin-incrementer.pdp-product__quantity {
  max-width: 175px;
}

.dropin-design .pdp-product__buttons {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1.5rem 1rem;
  justify-content: center;
}

.dropin-design .pdp-product__buttons button:nth-of-type(1) {
  flex-basis: 100%;
}

.dropin-design .dropin-button {
  padding: 1rem;
}

.dropin-design .dropin-button--primary,
.dropin-design .dropin-button--secondary,
.dropin-design .dropin-button--tertiary {
  width: auto;
}

.dropin-design .pdp-carousel__button--thumbnailsColumn {
  background: var(--color-black-100);
  border-radius: 0;
  padding: 0.25rem;
  position: relative;
  z-index: 2;
}

.dropin-design .pdp-carousel__button--thumbnailsColumn svg path {
  stroke: var(--color-neutral-50);
  stroke-width: 1;
}

.dropin-design .pdp-carousel__button--thumbnailsColumn[aria-label="Previous"] {
  top: 1.75rem;
}

.dropin-design .pdp-carousel__button--thumbnailsColumn[aria-label="Next"] {
  bottom: 1.75rem;
}

.dropin-design .pdp-product__sku {
  display: none;
}

.dropin-design .pdp-product__prices {
  margin: 0;
}

.dropin-design .pdp-product__prices .dropin-price {
  font-size: var(--body-font-size-s);
}

.dropin-design .pdp-product__actions .pdp-swatches {
  grid-gap: 5rem;
}

.dropin-design .pdp-product__buttons .dropin-button {
  text-transform: uppercase;
}

.dropin-design .pdp-product__quantity .quantity-label {
  font-size: var(--body-font-size-xs);
  font-weight: 600;
}

.dropin-design .pdp-product__options .options-label {
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  color: var(--color-neutral-700);
}

.dropin-design .pdp-product__column-body {
  display: flex;
  flex-direction: column;
}

.dropin-design .pdp-product__actions {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.dropin-design .pdp-product__column-body .pdp-product__description {
  order: 6;
}

.dropin-design .pdp-product__column-body .pdp-product__short_description {
  order: 5;
  margin: 0;
}

.dropin-design .pdp-product__column-body .pdp-product__attributes {
  order: 4;
  margin: 0;
  display: none;
}


.adventure-details-container .dropin-design .pdp-carousel__slide img {
  height: auto;
}