.popular-adventures-container .button-container {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.popular-adventures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(181px, 1fr));
  gap: 20px;
  margin: 2rem auto 0;
}

.popular-adventures .article-card {
  text-decoration: none;
  color: inherit;
  margin: 0 auto;
}

.popular-adventures .card-image {
  overflow: hidden;
}

.popular-adventures .card-image img {
  width: 100%;
  height: auto;
  display: block;
  min-height: 124px;
  object-fit: cover;
}

.popular-adventures .card-info {
  padding: 8px;
  text-align: left;
}

.popular-adventures .card-info p {
  font-size: var(--body-font-size-xs);
  line-height: normal;
  margin: 0;
  padding-bottom: 5px;
  font-weight: 900;
}

.popular-adventures .card-info span {
  font-size: var(--body-font-size-xxs);
  text-transform: uppercase;
}
