.beat-the-buzzer-banner .banner-container {
  padding: 5rem 13rem;
  min-height: 300px;
  background: linear-gradient(260deg, rgba(0, 0, 0, 1) 93%, rgba(255, 230, 0, 1) 93%);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

@media (width < 1024px) {
  .beat-the-buzzer-banner .banner-container {
    padding: 5rem 10rem;
  } 
}

@media (width < 768px) {
  .beat-the-buzzer-banner .banner-container {
    padding: 2.5rem 6rem;
    background: linear-gradient(260deg, rgba(0, 0, 0, 1) 88%, rgba(255, 230, 0, 1) 88%);
  } 
}

.beat-the-buzzer-banner .banner-container .content {
  color: var(--color-neutral-50);
  font-size: 45px;
}

@media (width < 768px) {
  .beat-the-buzzer-banner .banner-container .content {
    font-size: var(--body-font-size-xl);
    line-height: normal;
  } 
}

.beat-the-buzzer-banner .banner-container .content p {
  margin: 0;
  line-height: normal;
}
