/* stylelint-disable selector-not-notation, selector-class-pattern, no-descending-specificity */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 

 :root,
 .dropin-design.dropin-design {
  /* Font Family  */ 
  --heading-font-family: 'Source Serif Pro', 'Source-Serif-Pro-Fallback', sans-serif;
  --type-base-font-family: 'Source Sans Pro', roboto, roboto-fallback, sans-serif;

  /* body sizes */
  --body-font-size-xxs: 10px;
  --body-font-size-xs: 12px;
  --body-font-size-s: 14px;
  --body-font-size-md: 16px;
  --body-font-size-lg: 20px;
  --body-font-size-xl: 24px;

  /* heading sizes */
  --heading-font-size-xs: 18px;
  --heading-font-size-s: 20px;
  --heading-font-size-md: 24px;
  --heading-font-size-l: 32px;
  --heading-font-size-xl: 36px;
  --heading-font-size-xxl: 40px;

  /* Elsie base design */
  --color-brand-300: #F5E96D; 
  --color-brand-500: #FFEA00;
  --color-brand-600: #FFE600; 
  --color-brand-700: #F7D522; 
  --color-black-100: #000;
  --color-black-200: #202020; 
  --color-neutral-50: #fff;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #f5f5f5;
  --color-neutral-300: #e8e8e8;
  --color-neutral-400: #d6d6d6;
  --color-neutral-500: #b8b8b8;
  --color-neutral-600: #8f8f8f;
  --color-neutral-700: #666;
  --color-neutral-800: #3d3d3d;
  --color-neutral-900: #292929;
  --color-positive-200: #eff5ef;
  --color-positive-500: #7fb078;
  --color-positive-800: #53824c;
  --color-informational-200: #eeeffb;
  --color-informational-500: #6978d9;
  --color-informational-800: #5d6dd6;
  --color-warning-200: #fdf3e9;
  --color-warning-500: #e79f5c;
  --color-warning-800: #cc7a2e;
  --color-alert-200: #ffebeb;
  --color-alert-500: #db7070;
  --color-alert-800: #c35050;
  --color-button-active: var(--color-brand-700);
  --color-button-focus: var(--color-neutral-400);
  --color-button-hover: var(--color-brand-600);
  --color-action-button-active: var(--color-neutral-50);
  --color-action-button-hover: var(--color-neutral-300);
  --color-opacity-16: rgb(255 255 255 / 16%);
  --color-opacity-24: rgb(255 255 255 / 24%);
  --grid-1-columns: 4;
  --grid-1-margins: 0;
  --grid-1-gutters: 16px;
  --grid-2-columns: 12;
  --grid-2-margins: 0;
  --grid-2-gutters: 16px;
  --grid-3-columns: 12;
  --grid-3-margins: 0;
  --grid-3-gutters: 24px;
  --grid-4-columns: 12;
  --grid-4-margins: 0;
  --grid-4-gutters: 24px;
  --grid-5-columns: 12;
  --grid-5-margins: 0;
  --grid-5-gutters: 24px;
  --shape-border-radius-1: 3px;
  --shape-border-radius-2: 8px;
  --shape-border-radius-3: 24px;
  --shape-border-width-1: 1px;
  --shape-border-width-2: 1.5px;
  --shape-border-width-3: 2px;
  --shape-border-width-4: 4px;
  --shape-shadow-1: 0 0 16px 0 rgb(0 0 0 / 16%);
  --shape-shadow-2: 0 2px 16px 0 rgb(0 0 0 / 16%);
  --shape-shadow-3: 0 2px 3px 0 rgb(0 0 0 / 16%);
  --shape-icon-stroke-1: 1px;
  --shape-icon-stroke-2: 1.5px;
  --shape-icon-stroke-3: 2px;
  --shape-icon-stroke-4: 4px;
  --spacing-xxsmall: 4px;
  --spacing-xsmall: 8px;
  --spacing-small: 16px;
  --spacing-medium: 24px;
  --spacing-big: 32px;
  --spacing-xbig: 40px;
  --spacing-xxbig: 48px;
  --spacing-large: 64px;
  --spacing-xlarge: 72px;
  --spacing-xxlarge: 96px;
  --spacing-huge: 120px;
  --spacing-xhuge: 144px;
  --spacing-xxhuge: 192px;
  --type-display-1-font: normal normal 300 6rem/7.2rem
    var(--heading-font-family);
  --type-display-1-letter-spacing: 0.04em;
  --type-display-2-font: normal normal 300 4.8rem/5.6rem
    var(--heading-font-family);
  --type-display-2-letter-spacing: 0.04em;
  --type-display-3-font: normal normal 300 3.4rem/4rem
    var(--heading-font-family);
  --type-display-3-letter-spacing: 0.04em;
  --type-headline-1-font: normal normal 400 2.4rem/3.2rem
    var(--heading-font-family);
  --type-headline-1-letter-spacing: 0.04em;
  --type-headline-2-default-font: normal normal 300 2rem/2.4rem
    var(--heading-font-family);
  --type-headline-2-default-letter-spacing: 0.04em;
  --type-headline-2-strong-font: normal normal 400 2rem/2.4rem
    var(--heading-font-family);
  --type-headline-2-strong-letter-spacing: 0.04em;
  --type-body-1-default-font: normal normal 300 1.6rem/2.4rem
    var(--type-base-font-family);
  --type-body-1-default-letter-spacing: 0.04em;
  --type-body-1-strong-font: normal normal 400 1.6rem/2.4rem
    var(--type-base-font-family);
  --type-body-1-strong-letter-spacing: 0.04em;
  --type-body-1-emphasized-font: normal normal 700 1.6rem/2.4rem
    var(--type-base-font-family);
  --type-body-1-emphasized-letter-spacing: 0.04em;
  --type-body-2-default-font: normal normal 300 1.4rem/2rem
    var(--type-base-font-family);
  --type-body-2-default-letter-spacing: 0.04em;
  --type-body-2-strong-font: normal normal 400 1.4rem/2rem
    var(--type-base-font-family);
  --type-body-2-strong-letter-spacing: 0.04em;
  --type-body-2-emphasized-font: normal normal 700 1.4rem/2rem
    var(--type-base-font-family);
  --type-body-2-emphasized-letter-spacing: 0.04em;
  --type-button-1-font: normal normal 400 2rem/2.6rem
    var(--type-base-font-family);
  --type-button-1-letter-spacing: 0.08em;
  --type-button-2-font: normal normal 400 1.6rem/2.4rem
    var(--type-base-font-family);
  --type-button-2-letter-spacing: 0.08em;
  --type-details-caption-1-font: normal normal 400 1.2rem/1.6rem
    var(--type-base-font-family);
  --type-details-caption-1-letter-spacing: 0.08em;
  --type-details-caption-2-font: normal normal 300 1.2rem/1.6rem
    var(--type-base-font-family);
  --type-details-caption-2-letter-spacing: 0.08em;
  --type-details-overline-font: normal normal 400 1.2rem/2rem
    var(--type-base-font-family);
  --type-details-overline-letter-spacing: 0.16em;

  /* Additional tokens */
  --type-fixed-font-family: var(--type-base-font-family);
  --background-color: var(--color-neutral-50);
  --nav-height: 6.4rem;
  --med-grid-layout: 792px;
  --large-grid-layout: 1200px;
}

@font-face {
  font-family: 'Source-Serif-Pro-Fallback';
  src: local('Arial');
  size-adjust: 107%;
  ascent-override: normal;
  descent-override: 32%;
  line-gap-override: normal;
}

html, body {
  font-size: var(--body-font-size-xxs);
  height: 100%;
}

body {
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
  margin: 0;
  color: var(--color-black-100);
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body.appear {
  display: block;
}

body:not(.appear) {
  visibility: hidden;
}

header {
  height: var(--nav-height);
}

/* Need to adjust main because of positioning of the fixed header */
main {
  margin-top: 105px;
} 

@media (width < 768px) {
  main {
    margin-top: 40px;
  } 
}

h1 {
  font: var(--type-display-1-font);
  letter-spacing: var(--type-display-1-letter-spacing);
}

h2 {
  font: var(--type-display-2-font);
  letter-spacing: var(--type-display-2-letter-spacing);
}

h3 {
  font: var(--type-display-3-font);
  letter-spacing: var(--type-display-3-letter-spacing);
}

h4 {
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
}

h5 {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

h6 {
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
}

h1,h2,h3,h4,h5,h6 {
  width: fit-content;
  margin: 0;
}

.section .default-content-wrapper h1::after,
.section .default-content-wrapper h2::after,
.section .default-content-wrapper h3::after,
.section .default-content-wrapper h4::after,
.section .default-content-wrapper h5::after,
.section .default-content-wrapper h6::after {
  border-bottom: 2px solid var(--color-brand-500);
  content: "";
  display: block;
  padding-top: 8px;
  min-width: 84px;
  width: fit-content;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1.5625em;
  margin-bottom: 1.5625em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--color-neutral-300);
}

code,
pre,
samp {
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  font-family: var(--type-fixed-font-family);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--color-neutral-300);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--color-black-100);
  font: var(--type-body-1-strong-font);
  letter-spacing: var(--type-body-1-strong-letter-spacing);
  text-decoration: none;
}

a:hover {
  text-decoration: solid underline var(--color-brand-700);
  text-underline-offset: 6px;
  color: var(--color-brand-700);
}

a:focus-visible {
  outline: solid var(--shape-border-width-4) var(--color-neutral-400);
  border: var(--shape-border-width-1) solid var(--color-neutral-800);
  border-radius: var(--shape-border-radius-1);
}

u {
  text-underline-offset: 6px;
}

a > u,
button > u {
  text-decoration: none;
}

button {
  border: none;
  font: var(--type-base-font-family);
}

button.button-primary,
a.button-primary {
  display: block;
  background-color: var(--color-brand-500);
  font-size: var(--body-font-size-md);
  font-weight: 600;
  color: var(--color-black-100);
  padding: 8px 24px;
  width: fit-content;
  height: auto;
  letter-spacing: 0.08em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
}

button.button-primary:hover,
a.button-primary:hover {
  background-color: var(--color-brand-600);
}

button.button-primary:active,
a.button-primary:active {
  background-color: var(--color-brand-700);
}


button.button-secondary,
a.button-secondary {
  display: block;
  background-color: var(--color-black-100);
  font-size: var(--body-font-size-md);
  font-weight: 600;
  color: var(--color-neutral-50);
  padding: 8px 24px;
  width: fit-content;
  height: auto;
  letter-spacing: 0.08em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
}

.button-tertiary {
  color: var(--color-black-100);
  padding: 0;
  background: none;
}

a.button.disabled,
button:not([class^='elsie-']):disabled,
button:not([class^='elsie-']):disabled:hover {
  background-color: var(--color-neutral-300);
  cursor: unset;
}

a.button.secondary,
button:not([class^='elsie-']).secondary {
  background-color: unset;
  border: var(--shape-border-width-3) solid currentcolor;
  color: var(--color-brand-500);
}

a.button.secondary:hover,
button:not([class^='elsie-']).secondary:hover {
  color: var(--color-brand-600);
}

.button-tertiary:hover {
  color: var(--color-neutral-700);
  cursor: pointer;
}

main input:hover {
  border: 1px solid var(--color-neutral-700);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: '“';
  line-height: 0;
}

main blockquote p::after {
  content: '”';
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 2rem 15px
}

@media (width <= 768px) {
  main .section {
    padding: 1.5rem 15px
  }
}

@media (width >=1024px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--color-neutral-500);
}

main .section.default-width {
  max-width: var(--med-grid-layout);
  margin: 0 auto;
}

main .section.max-width {
  max-width: var(--large-grid-layout);
  margin: 0 auto;
}

main .section.bottom-divider {
  padding: 2rem 2rem 4rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-neutral-300);
}

main .section.top-divider {
  padding: 4rem 2rem 2rem;
  margin-top: 2rem;
  border-top:  1px solid var(--color-neutral-300);
}

main .section.section-title .default-content-wrapper:first-of-type p {
  margin: 0;
  width: fit-content;
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

main .section.section-title .default-content-wrapper:first-of-type p::after {
  border-bottom: 2px solid var(--color-brand-600);
  content: "";
  display: block;
  padding-top: 8px;
  min-width: 84px;
  width: fit-content;
}

/* Breadcrumb */

.breadcrumb-wrapper {
  max-width: var(--large-grid-layout);
  margin: 0 auto;
  padding: 4rem 0 1rem;
  box-sizing: border-box;
}

.breadcrumb-wrapper,
.breadcrumb-wrapper a,
.breadcrumb-wrapper span {
  font-size: var( --body-font-size-xxs);
  text-transform: uppercase;
}

.breadcrumb-wrapper a,
.breadcrumb-wrapper span {
  padding: 0.5rem;
  line-height: 21px;
  letter-spacing: 0.16em;
}

.breadcrumb-wrapper a:hover {
  color: var(--color-neutral-900);
  text-decoration: solid underline var(--color-neutral-900);
}

@media (width <= 768px) {
  .breadcrumb-wrapper {
    padding: 1rem;
  }
}

/* Accordion */
.accordion details summary {
  position: relative;
  padding: 2rem 0;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  border-top: 1.5px solid var(--color-neutral-400);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: "+"; /* Plus sign icon */
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  transition: transform 0.2s;
  font-size: var(--body-font-size-lg);
}

.accordion details[open] summary::after {
  content: "-"; /* Minus sign icon */
  transform: translateY(-50%);
}

.accordion details summary > div {
  font-weight: bold;
}

.accordion details .accordion-item-body {
  padding: 0 0 2rem;
}

.accordion details .accordion-item-body ul {
  margin: 0;
}

.accordion details .accordion-item-body p {
  margin-bottom: 1.5rem;
}

.accordion details .accordion-item-label.open-default::after {
  display: none;
}

/* Base Design System Tokens */
.dropin-design.dropin-design {
  --background-none: none 0 0% no-repeat padding-box;
}

/* Global PDP columns overrides */ 
@media (width >= 1024px) {
  .dropin-design .pdp-product .pdp-product__gallery-column {
    grid-column: 1 / span 7;
  }
  
  .dropin-design .pdp-product .pdp-product__content-column {
    grid-column: 8 / span 5;
  }

  .dropin-design .pdp-product .pdp-product__breadcrumbs {
    grid-column: 1 / -1;
  }
}

/* Primary Buttons */
.dropin-design .dropin-button--primary,
.dropin-design .dropin-iconButton--primary,
.dropin-design .dropin-button--primary:hover,
.dropin-design .dropin-iconButton--primary:hover,
.dropin-design .dropin-button--primary:hover:active,
.dropin-design .dropin-iconButton--primary:focus,
.dropin-design .dropin-button--primary:focus,
.dropin-design .dropin-button--primary:focus:hover {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 900;
  background: var(--color-brand-500);
  color: var(--color-black-100);
}

/* Secondary Buttons */
.dropin-design .dropin-button--secondary,
.dropin-design .dropin-iconButton--secondary,
.dropin-design .dropin-button--secondary:hover,
.dropin-design .dropin-iconButton--secondary:hover,
.dropin-design .dropin-button--secondary:hover:active,
.dropin-design .dropin-iconButton--secondary:focus,
.dropin-design .dropin-button--secondary:focus,
.dropin-design .dropin-button--secondary:focus:hover {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 900;
  background: var(--color-black-100);
  color: var(--color-neutral-50);
}

.dropin-design .dropin-button--tertiary,
.dropin-design a.dropin-button--tertiary,
.dropin-design .dropin-iconButton--tertiary {
  color: var(--color-black-100);
  padding: 0;
}

.dropin-design .dropin-button--tertiary:hover,
.dropin-design a.dropin-button--tertiary:hover, 
.dropin-design .dropin-iconButton--tertiary:hover {
  color: var(--color-neutral-700);
}

/* Disabled Buttons */
.dropin-design .dropin-button:disabled {
  background: var(--color-neutral-500);
  color: var(--color-neutral-50);
}


/* Hide minicart SKU */
.dropin-design .dropin-cart-item__sku {
  display: none;
}